Jium - laboratoria i projekt/Projekt/r6/SortingAlgorithmsClient/web/WEB-INF/wsdl/localhost_8080/SortingAlgorithmsService/SortingAlgorithmsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.lab.polsl.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.lab.polsl.pl/" name="SortingAlgorithmsService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.lab.polsl.pl/" schemaLocation="http://localhost:8080/SortingAlgorithmsService/SortingAlgorithmsService?xsd=1"/>
</xsd:schema>
</types>
<message name="merge">
<part name="parameters" element="tns:merge"/>
</message>
<message name="mergeResponse">
<part name="parameters" element="tns:mergeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="sort">
<part name="parameters" element="tns:sort"/>
</message>
<message name="sortResponse">
<part name="parameters" element="tns:sortResponse"/>
</message>
<message name="getAlgorithm">
<part name="parameters" element="tns:getAlgorithm"/>
</message>
<message name="getAlgorithmResponse">
<part name="parameters" element="tns:getAlgorithmResponse"/>
</message>
<message name="addSortingTable">
<part name="parameters" element="tns:addSortingTable"/>
</message>
<message name="addSortingTableResponse">
<part name="parameters" element="tns:addSortingTableResponse"/>
</message>
<message name="getSortingTable">
<part name="parameters" element="tns:getSortingTable"/>
</message>
<message name="getSortingTableResponse">
<part name="parameters" element="tns:getSortingTableResponse"/>
</message>
<message name="getAllNumbers">
<part name="parameters" element="tns:getAllNumbers"/>
</message>
<message name="getAllNumbersResponse">
<part name="parameters" element="tns:getAllNumbersResponse"/>
</message>
<message name="getAllAlgorithms">
<part name="parameters" element="tns:getAllAlgorithms"/>
</message>
<message name="getAllAlgorithmsResponse">
<part name="parameters" element="tns:getAllAlgorithmsResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="getAllSortingTables">
<part name="parameters" element="tns:getAllSortingTables"/>
</message>
<message name="getAllSortingTablesResponse">
<part name="parameters" element="tns:getAllSortingTablesResponse"/>
</message>
<message name="getSortingTableContent">
<part name="parameters" element="tns:getSortingTableContent"/>
</message>
<message name="getSortingTableContentResponse">
<part name="parameters" element="tns:getSortingTableContentResponse"/>
</message>
<portType name="SortingAlgorithmsService">
<operation name="merge">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/mergeRequest" message="tns:merge"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/mergeResponse" message="tns:mergeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/merge/Fault/Exception"/>
</operation>
<operation name="sort">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/sortRequest" message="tns:sort"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/sortResponse" message="tns:sortResponse"/>
</operation>
<operation name="getAlgorithm">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAlgorithmRequest" message="tns:getAlgorithm"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAlgorithmResponse" message="tns:getAlgorithmResponse"/>
</operation>
<operation name="addSortingTable">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/addSortingTableRequest" message="tns:addSortingTable"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/addSortingTableResponse" message="tns:addSortingTableResponse"/>
</operation>
<operation name="getSortingTable">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getSortingTableRequest" message="tns:getSortingTable"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getSortingTableResponse" message="tns:getSortingTableResponse"/>
</operation>
<operation name="getAllNumbers">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllNumbersRequest" message="tns:getAllNumbers"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllNumbersResponse" message="tns:getAllNumbersResponse"/>
</operation>
<operation name="getAllAlgorithms">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllAlgorithmsRequest" message="tns:getAllAlgorithms"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllAlgorithmsResponse" message="tns:getAllAlgorithmsResponse"/>
</operation>
<operation name="persist">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/persistResponse" message="tns:persistResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/persist/Fault/Exception"/>
</operation>
<operation name="getAllSortingTables">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllSortingTablesRequest" message="tns:getAllSortingTables"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getAllSortingTablesResponse" message="tns:getAllSortingTablesResponse"/>
</operation>
<operation name="getSortingTableContent">
<input wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getSortingTableContentRequest" message="tns:getSortingTableContent"/>
<output wsam:Action="http://services.lab.polsl.pl/SortingAlgorithmsService/getSortingTableContentResponse" message="tns:getSortingTableContentResponse"/>
</operation>
</portType>
<binding name="SortingAlgorithmsServicePortBinding" type="tns:SortingAlgorithmsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="merge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="sort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAlgorithm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSortingTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSortingTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAlgorithms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAllSortingTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSortingTableContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SortingAlgorithmsService">
<port name="SortingAlgorithmsServicePort" binding="tns:SortingAlgorithmsServicePortBinding">
<soap:address location="http://localhost:8080/SortingAlgorithmsService/SortingAlgorithmsService"/>
</port>
</service>
</definitions>